<p id="notice"><%= notice %></p>
<h3>Items in your shopping cart></h3>

<ul>
    <% @cart.lineitems.each do |item| %>
        <li><%= item.quantity %> - <%= item.product.name %></li>
    <%end%>
</ul>
<%= button_to 'Empty Cart', @cart, method: :delete, data:{confirm: 'Are you sure?'}%>
<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>
