<!DOCTYPE html>
<html>
  <head>
    <title>Store</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='<%= controller.controller_name %>'>
    <div id="banner">
      <%= image_tag("logo.png") %>
      <%= @page_title || "Our Products" %>
    </div>

    <div id="columns">
      <div id="side">
        <div id = "cart">
          <%= render @cart %>
        </div>
        <ul>
          <li><%= link_to 'Home', root_path%></li>
          <li><a href="http://www..../faq">Questions</a></li>
          <li><a href="http://www..../news">News</a></li>
          <li><a href="http://www..../contact">Contact</a></li>
          
   
        </ul>
      </div>

      <div id="main">
        <%= yield %>
      </div>

    </div>
  </body>
</html>
